<div class="container">



    <mat-card class="faq">
        <a class=""
            routerLink="/home"
            routerLinkActive="active"
            matTooltip="home">
            <mat-icon class="faq-color">keyboard_backspace</mat-icon>
        </a>
        <div fxFlex
            class="faq-padding faq-font">
            <div fxLayout="column"
                fxLayoutAlign="center">
                <div fxLayout="column"
                    class="faq-margin">
                    <div fxLayout="row">Where is data coming from?</div>

                    <p class="faq-color"> We are using public APIs for updating the website. APIs are provided by <a
                            href="https://rapidapi.com/"
                            matTooltip="link to rapid api">rapidapi.com </a>for getting information about cases in world
                        and
                        <a href="api.covid19india.org"
                            matTooltip="link to covid19 apis">api.covid19india.org</a> for cases in India.
                    </p>

                </div>

                <div fxLayout="column"
                    class="faq-margin">
                    <div>What resources are we using to publish the data?</div>
                    <div class="faq-color">UI Code is open to all. It can be accessed from <a
                            href="https://github.com/umangchadha/covid19-angular"
                            matTooltip="link to github">GITHUB</a>. If you do not want to set
                        it up in local feel free to use
                        <a href="https://stackblitz.com/github/umangchadha/covid19-angular">Stackblitz</a> to play
                        around. A Big Thanks to <a matTooltip="link to stackblitz"
                            href="http://www.surge.sh"
                            matTooltip="link to surge"> SURGE.SH</a> to publish our web app.
                    </div>

                </div>

                <div fxLayout="column"
                    class="faq-margin">
                    <div>Is this website for commercial use?</div>
                    <div class="faq-color">No. This website is merely for educational purposes and awareness.</div>
                </div>

                <div fxLayout="column"
                    class="faq-margin">
                    <div>Who developed this?</div>
                    <div fxLayout="column">
                        <a class="faq-color"
                            href="https://www.linkedin.com/in/umangchadha-ux-ui"
                            matTooltip="link to linkedin: Umang">Umang Chadha</a>
                        <a class="faq-color"
                            href="https://www.linkedin.com/in/archit-anand-b6a92110a"
                            matTooltip="link to linkedin: Archit">Archit Anand</a>
                    </div>


                </div>
                <div fxLayout="column"
                    class="faq-margin">
                    <div>Reach out to us @ :</div>
                    <div><a class="faq-color"> covidindiasurge@gmail.com</a></div>
                </div>
            </div>
        </div>
    </mat-card>

</div>