
<mat-card class="faq">
    <h1>faq working</h1>
    <p>What are your sources? How is data gathered for this project?</p>
    <p>We are using public API for updating our numbers. The data is validated by a group of volunteers and published into an API. We are using a public API from Rapid API to get our numbers about world. </p>

    <p>Where can I find the data for this?</p>
    <p>All the data used in this app is coming from public resources and you can check all this by visiting our github page.</p>

    <p>Who are you?</p>
    <p>We </p>
</mat-card>