<div class="container"
  fxLayout="column">
  <div fxFlex="100"
    fxLayout
    fxLayoutAlign="space-between">
    <span fxLayoutAlign="start center"
      fxLayoutGap="20px">
      <a class="link_color"
        routerLink="/world"
        matTooltip="See World Stats"
        routerLinkActive="active">World Stats</a>
      <a class="link_color"
        routerLink="/"
        routerLinkActive="active"
        matTooltip="home">
        <mat-icon>home</mat-icon>
      </a>
    </span>
    <div> Last updated : {{india[0]?.lastupdatedtime}} </div>
  </div>

  <div fxFlex>
    <mat-card class="india">
      <span class="flag-icon flag-icon-in"> </span>
      <code class="label-heading">INDIA</code>
      
      <div class="card-content india"
        fxLayout="row wrap">
        <div fxFlex=31
          class="new-cases">Cases : {{india[0]?.confirmed}}</div>
        <div fxFlex=31
          class="warn">Deaths : {{india[0]?.deaths}}</div>
        <div fxFlex=31
          class="recovered">Recovered : {{india[0]?.recovered}}</div>
      </div>
    </mat-card>
    <!-- <button mat-button
                fxLayout
                fxLayoutAlign="start"
                color="accent"
                class="district-button"
                matTooltip="Open Districts Details"
                (click)="createGraphIndia()">Districts <mat-icon>arrow_drop_down</mat-icon>
              </button> -->
              <button mat-button
              matTooltip="Open graph"
              class="graph-button"
              (click)="createGraphIndia()">
              <mat-icon>show_chart</mat-icon> India
            </button>
    <div fxLayout="column"
      fxLayoutGap="30px">
      <div *ngFor="let state of statewiseData;index as i">
        <div *ngIf="state.state!=='Total'"
          fxLayout="column"
          fxLayoutGap="20px">
          <mat-card fxLayout="row">
            <span fxFlex
              class="state"
              fxLayout="column">
              <span class="label-heading">{{state.state}}</span>
              <button mat-button
                fxLayout
                fxLayoutAlign="start"
                color="accent"
                class="district-button"
                matTooltip="Open Districts Details"
                (click)="createDistrictData(state.state,i)">Districts <mat-icon>arrow_drop_down</mat-icon>
              </button></span>
            <button mat-button
              matTooltip="Open graph"
              class="graph-button"
              (click)="createGraphData(state)">
              <mat-icon>show_chart</mat-icon> Graph
            </button>

            <span fxFlex
              class="state-data"
              fxLayout="column">
              <span> Confirmed: <span class="new-cases">{{state.confirmed}}</span></span>
              <span> Deaths: <span class="warn">{{state.deaths}}</span></span>
              <span> Recovered: <span class="recovered">{{state.recovered}}</span></span>
            </span>
          </mat-card>


          <mat-card *ngIf="districtDataOne && districtDataOne.index===i">
            <button mat-mini-fab
              class="district-close"
              (click)="districtDataOne=null">
              <mat-icon>close</mat-icon>
            </button>
            <div *ngFor="let district of districtDataOne">
              <span class="district-data-container"
                fxLayout="row"
                fxLayoutAlign="space-between">
                <span fxFlex
                  class="district-label new-cases"> {{district.district}} </span>
                <span fxFlex
                  class="district-data"
                  fxLayout="column">
                  <span class="new-cases">
                    Confirmed:{{district.confirmed}}
                  </span>
                  <span class="new-cases warn">
                    Deaths:{{district.deceased}}
                  </span>
                  <span class="new-cases recovered">
                    Recovered:{{district.recovered}}
                  </span>
                </span>
              </span>
            </div>
          </mat-card>
        </div>
      </div>
    </div>