.container {

    .graph {
      font: 1em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
      position: relative;
      margin-bottom: 80px;
  
      .card.india {
        top: 0px;
        height: 100px;
        z-index: 200;
        position: absolute;
        background-image: linear-gradient(#FFF, rgba(255, 255, 255, .3));
        background-color: white;
        width: 100%;
      }
  
      .state-data {
        text-align: right;
      }
  
      .marquee {
        top: 70px;
        position: relative;
        box-sizing: border-box;
        animation: marquee 35s linear infinite;
        color: white;
        z-index: 1;
  
        &.nomarquee {
          animation: none;
        }
      }
  
      
  
    }
  
    .stats-cards {
  
      .card {
        background-color: rgba(255, 255, 255, 1);
        margin: 5px;
        position: relative;
        padding: 10px
      }
  
  
      .flag-icon {
        position: absolute;
        z-index: 0;
        width: 30px;
        height: 30px;
        left: 0;
        opacity: 0.5;
      }
  
      .card-content {
        z-index: 1;
        position: relative;
        padding-left: 30px;
        font-size: 12px;
  
        &.india {
          height: 70px;
  
          * {
            font-weight: bold;
          }
        }
      }
  
    }
  }
  
  
  
  .warn {
    color: red;
  }
  
  .new-cases {
    font-weight: bold;
  }
  
  .recovered {
    color: green;
  }
  
  
  code {
    font-weight: bold;
    font-size: large;
  }
  
  .link_color{
    color: white;
    text-decoration: underline;
}
.btn {
 
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}