<div class="container"
  fxLayout.gt-sm="row"
  fxLayout="column">
  <div class="graph"
    fxFlex=50>
    <div class="card india">
      <span class="flag-icon flag-icon-in"> </span>
      <div> Last updated : {{india[0]?.lastupdatedtime}} </div>
      <div class="card-content india"
        fxLayout="row wrap">
        <code fxFlex=100>INDIA</code>

        <div fxFlex=31
          class="new-cases">Cases : {{india[0]?.active}}</div>
        <div fxFlex=31
          class="warn">Deaths : {{india[0]?.deaths}}</div>
        <div fxFlex=31
          class="recovered">Recovered : {{india[0]?.confirmed}}</div>
      </div>
    </div>

    <div class="marquee"
      fxLayout="column"
      fxLayoutGap="30px">
      <div *ngFor="let state of statewiseData">
        <div *ngIf="state.state!=='Total'"
          fxLayout
          fxLayoutAlign="space-between">
          <span fxFlex
            class="state">{{state.state}}</span>
          <span fxFlex
            class="state-data"
            fxLayout="column">
            <span> Active: <span class="new-cases">{{state.active}}</span> </span>
            <span> Confirmed: <span class="new-cases">{{state.confirmed}}</span></span>
            <span> Deaths: <span class="warn">{{state.deaths}}</span></span>
            <span> Recovered: <span class="recovered">{{state.recovered}}</span></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex=50
    class="stats-cards">


    <div fxLayout="row wrap">

      <div class="card"
        fxFlex="45"
        *ngFor="let country of masterData.countries_stat">
        <span [className]="classFinder(country?.country_name)"></span>
        <div class="card-content">
          <code>{{country.country_name}} </code>
          <div class="new-cases">Cases : {{country.cases}}</div>
          <div class="warn">Deaths : {{country.deaths}}</div>
          <div class="recovered">Recovered : {{country.total_recovered}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
