<div fxLayout="column"
    fxFill
    fxLayoutAlign="center center">
    <div class="quote">
        " This too shall pass... "
    </div>

    <h1 class="stats">COVID19 STATS</h1>

    <div fxLayout
        fxLayoutAlign="center"
        fxLayoutGap="20px">

        <mat-card fxLayoutAlign="center">
            <a class="link_color "
                routerLink="/world"
                routerLinkActive="active"
                matTooltip="World Data">WORLD</a>
        </mat-card>
        <mat-card fxLayoutAlign="center">
            <a class="link_color"
                routerLink="/india"
                routerLinkActive="active"
                matTooltip="India Data">INDIA</a>

        </mat-card>
    </div>
    <div>
        <a class="link_color_1"
            routerLink="/faq">FAQ
        </a>
    </div>
</div>