@import '../../variables.scss';

.quote {
    position: absolute;
    font-size: 30px;
    font-family: cursive;
    top: 20%;
}

.link_color {
    color: black;
    text-decoration: underline;
    font-size: 20px;
}

h1 {
    font-size: 34px;
}

.link_text {
    text-align: center;
}

mat-card {
    padding: 50px;
}

.link_color_1 {
    color: White;
    text-decoration: underline;
    font-size: 20px;
    bottom: 30px;
    position: fixed;
    padding-bottom: 10px;
}
.warn {
    color: red;
  }
  
  .new-cases {
    font-weight: bold;
  }
  
  .recovered {
    color: green;
  }

  .margin-bottom{
    margin-bottom: 10px;
  }

  .time-stamp{
      color: #6199a7 !important;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 4px;
  }