<div fxLayout="column"
    fxFill
    fxLayoutAlign="center center">
    <!-- <div class="margin-bottom" >
        <mat-card fxFLex fxLayout="column">
                <div fxLayout="row">
                <span  class="time-stamp"
                fxLayoutAlign="center">"LastUpdated : {{worldCases.statistic_taken_at}} UTC"</span>
            </div>
            <div class="new-cases">
                <span>Total Cases:</span>
                <code > {{worldCases.total_cases}}</code>
            </div>

            <div class="warn"><span>Total Deaths:</span><code> {{worldCases.total_deaths}}</code></div>
            <div class="recovered"><span>Total Recovered:</span><code> {{worldCases.total_recovered}}</code></div>
        </mat-card>
    </div> -->

    <h1 class="stats">COVID19 STATS</h1>
   <div  fxLayout="row" style="padding: 10px;" >
            <div *ngIf="worldCases">
            <div fxLayout="column" style="padding: 10px;" >
                <span>Cases:</span>
                <code > {{worldCases.total_cases}}</code>
            </div>
            <div fxFlex fxLayout="column"  style="padding: 10px;">
                <span>Deaths:</span>
                <code> {{worldCases.total_deaths}}</code>
            </div>
            <div fxFlex fxLayout="column"  style="padding: 10px;">
                <span>Recovered:</span>
                <code> {{worldCases.total_recovered}}</code>
            </div>
        </div>
        </div>
    <div fxLayout
        fxLayoutAlign="center"
        fxLayoutGap="20px">

        <mat-card fxLayoutAlign="center">
            <a class="link_color "
                routerLink="/world"
                routerLinkActive="active"
                matTooltip="World Data">WORLD</a>
        </mat-card>
        <mat-card fxLayoutAlign="center">
            <a class="link_color"
                routerLink="/india"
                routerLinkActive="active"
                matTooltip="India Data">INDIA</a>

        </mat-card>
    </div>
    <div>
        <a class="link_color_1"
            routerLink="/faq">FAQ
        </a>
    </div>
</div>